body{
  overflow-y: auto;
}
.insta
{
  border: 1px solid #000;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 2px solid #000;
}
.mainlogo
{
  width: 160px;
  height: 85px;
  margin-left: 20px;
}
.messlogo
{
  width: 50px;
  height: 35px;
}
.profile-round
{
  margin-left: 10px;
}
.profile-round img
{
width: 55px;
height:55px;
border-radius: 50%;
margin-left: 25px;
}
.posthead h6
{
margin-bottom: 0;
margin-left: 0;
}
.posthead p
{ margin-bottom: 0;
margin-left: -14px;
}
.to-banner-im{
  width:100%;
  background-color: blue;
}
.to-banner-im img{
  width:100%;
}

.for-diff-padd{
padding-left: 0;
padding-right: 0;
}
.likeicon
{
  height: 55px;
  width: 40px;
}
.chaticon
{
  height: 50px;
  width: 41px;
}
.postdesc
{
  margin-left: 10px;
  margin-right: 0;

}
.the-last-para-style{
  font-size: 16px;
  font-weight:lighter;
}
.ProfilePic{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.profileimg{
  padding-left: 0;
  padding-right: 0;
}
.messages{
  border: 1px solid black;
}
.Titlename
{
  margin-left: 250px;
  font-size: 25px;
  font-weight: 200px;
}
.Titlename p
{
font-weight: 100px;
}
.searchbar{
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(231, 231, 236);
border-style: hidden;
}
.senderpropic img
{
width: 55px;
height: 55px;
border-radius: 50%;
}
.senderpropic
{
  margin-left: 10px;
}
.cmntsec
{
  border: 1px solid black;
}
.cmntID
{
  margin-left: 450px;
}
.profilePic img
{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.profilePic
{
  margin-left: 10px;
}
.profilescrn
{
  border: 1px solid black;
}